
.navbar-nav li a{
  padding: 10px 14px!important;
  color: #191b26;
  font-size: 14px;
}

ul{
  list-style: none;
}
.sub-menu ul{
  margin: 0;
  padding: 0;
}
.navbar a:hover{
  text-decoration: none;
}
.sub-menu .nav-link{
  padding: 0!important;
}
.sub-menu a.active {
  color: rgb(174, 168, 211, 0.8) !important;
  background-color: transparent;
  transition: 0.2s;
}
#mainNav .navbar-nav > li > a.active {
  color: rgb(174, 168, 211, 0.8) !important;
  background-color: transparent;
  transition: 0.2s;
}
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.navbar ul > li .sub-menu.tours {
  width: 200px;
}
.navbar ul > li .sub-menu.destinations {
  width: 800px;
  padding: 15px 8px 0;
}
.destinations .destinations-list {
  margin: 0;
  padding: 0;
}
.destinations .destinations-list .nav-link span {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 50%;
  top: auto;
  transform: translate(0,50%);
  color: #fff;
  display: inline-block;
  max-width: 70px;
  text-align: center;
  z-index: 999;
}
.destinations .destinations-list .nav-link img{
  width: 100%;
  height: 100%;
  background-size: cover;
}
.destinations .destinations-list .nav-link.dest {
  height: 80px;
}
.destinations .destinations-list .destinations-item{
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 10px;
}

.navbar-light .navbar-nav .nav-link {
  color: #191b26;
}
.navbar-nav h2{
  font-weight: 700;
}
.sub-menu ul > li {
  color: #FFF;
  display: block;
  padding: 3px 8px;
  line-height: 20px;
  position: relative;
}
.destinations-list img{
  filter: brightness(60%);
}
@media (max-width: 991px){
  #mainNav .navbar-nav>li>a{
    color:rgba(25, 4, 58, 0.89);
  }
  /* #mainNav .navbar-nav>li>a:focus{
    color:rgb(174, 168, 211, 0.8);
  } */
  #mainNav .navbar-nav>li>a:hover{
    color:rgb(174, 168, 211, 0.8);
  }

  #mainNav.navbar-shrink {
    background-color: #f8f9fa;
  }
  #mainNav{
    box-shadow: 1px 0px 1px rgb(37, 102, 93);
  }
  .slide-content{
    font-size: 0.9rem!important;
    color:#222;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .navbar ul > li:hover .sub-menu, .navbar ul > li:focus .sub-menu, .navbar ul > li:active .sub-menu {
    opacity: 1;
    transition: 0.4s ease all;
    visibility: visible;
  }

  .navbar ul > li .sub-menu {
      width: 100% !important;
      left: auto;
      right: 0;
  }

  .navbar ul > li:hover .sub-menu, .navbar ul > li:focus .sub-menu, .navbar ul > li:active .sub-menu {
    opacity: 1;
    transition: 0.4s ease all;
    visibility: visible;
  }
  .navbar ul > li .sub-menu {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: 99;
    padding: 2px;
    background: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.24);
  }
  #mainNav .navbar-nav > li > a{
    font-size: 12px;
    font-weight: 700!important;
    text-transform: uppercase;
  }
  .navbar ul > li .sub-menu a{
    font-size: 12px;
    font-weight: 600!important;
    text-transform: uppercase;
  }
  .destinations .destinations-list .nav-link span {
    font-size: 0.5rem;
  }
  .destinations .destinations-list .destinations-item {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    margin-bottom: 0.4rem;
  }
  
}
@media (min-width: 1021px){
  .ml-header {
    margin-left: 30px!important;
  }
}

@media (min-width: 991px){
  #mainNav .navbar-nav>li>a, #mainNav .navbar-nav .btn-login {
    color:rgba(255, 255, 255, 0.96);
  }
  #mainNav .navbar-nav>li>a:hover, #mainNav .navbar-nav .btn-login:hover{
    color:rgba(255, 255, 255, 0.582)!important;
  }
  #mainNav .navbar-nav>li>a:focus, #mainNav .navbar-nav .btn-login:focus{
    color:rgba(255, 255, 255, 0.582)!important;
  }
  
  #mainNav.navbar-shrink .navbar-nav>li>a, #mainNav.navbar-shrink .navbar-nav .btn-login{
    color: #191b26;
  }
  .navbar h2:hover{
    transform: scale(1.05);
  }
  .navbar ul > li .sub-menu {
    left: 0;
    right: auto;
  }
  .navbar ul > li .sub-menu {
    left: auto;
  }
  .navbar ul > li:hover .sub-menu, .navbar ul > li:focus .sub-menu, .navbar ul > li:active .sub-menu {
    opacity: 1;
    top: 55px;
    transition: 0.4s ease all;
    visibility: visible;
  }
  .navbar ul > li .sub-menu {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transition: 0.4s ease all;
    z-index: 99;
    width: 850px;
    padding: 3px;
    background: #fff;
    top: 100px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.24);
  }
  
  .slide-content{
  /* padding: 3px 15px!important; */
  margin: 0;
  padding: 0;
  font-size: 0.96rem!important;
  color:rgba(255, 255, 255, 0.932);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  #mainNav.navbar-shrink {
      border-color: rgba(34,34,34,.1);
      background-color:#e3f2fd;
      color: black;
      border-bottom: #16192b13 solid;
  }
  
  #mainNav.navbar-shrink .navbar-nav a:hover, #mainNav.navbar-shrink .navbar-nav .btn-login:hover{
    color: rgb(174, 168, 211, 0.8) !important;
  }
  #mainNav.navbar-shrink .navbar-nav a:focus, #mainNav.navbar-shrink .navbar-nav .btn-login:hover{
    color: rgb(174, 168, 211, 0.8) !important;
    /* border-bottom: 1px solid #141e29b9; */
  }
  /* .sub-menu a.active {
    color: rgb(174, 168, 211, 0.8) !important;
    transition: 0.2s;
  } */

  #mainNav.navbar-shrink h2{
      color: #222!important;
      text-decoration: none;
  }
  #mainNav {
      border-color: transparent;
      background-color: transparent;
  }
  .ml-header {
    margin-left: 3px;
  }
  .navbar ul > li .sub-menu a{
    text-align: left;
  }
}

#mainNav .navbar-nav > li > a{
  font-size: 12px;
  font-weight: 600!important;
  text-transform: uppercase;
}
.navbar ul > li .sub-menu a{
  font-size: 12px;
  font-weight: 600!important;
  text-transform: uppercase;
  
}