/* #destinations-details{
    position: relative;
    background: #fff;
}
#destinations-review{
    position: relative;
    background: #fff;
} */


.destinations-page section{
    padding: 0;
}
.title-page:after, .highlight-underline:after{
    content: "";
    bottom: -10px;
    height: 1px;
    width: 80%;
    position: absolute;
    border-bottom: 3px solid #ccc;
    left: 0;
    right: 0;
    margin: auto;
}
.title-page, .highlight-underline{
    line-height: 1.4;
    font-weight: 500;
    color: #444;
    margin: 15px 0 30px;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}
.container{
    position: relative;
}

.icon-map-asia{
    padding: 5px 15px 10px 15px;
    
}
#illustration-box{
    margin: auto;
}
#illustration-box .illustration-item img{
    width: 100%;
    height: 180px;
    /* object-fit: cover; */
    padding-bottom: 20px;
}
#destinations-tour .thumbnail {
    height: 300px;
}
#destinations-hotel .thumbnail {
    height: 330px;
}
#destinations-hotel .tour-card-list .intro .hotel-level{
    display: block;
}
#destinations-hotel .tour-card-list .intro .tour-time{
    display: none;
}
#destinations-hotel .tour-card-list .tour-image img{
    filter: brightness(80%);
}


@media (min-width: 992px) {
    #illustration-box{
        width: 800px;
    }
    .icon-destination-tour, .icon-contacts {
        margin-top: -30px;
        width: 4rem;
        height: 4rem;
    }
    .icon-destination-hotel {
        margin-top: 20px;
        width: 4rem;
        height: 4rem;
    }
}
@media (max-width: 992px) {
    #illustration-box .illustration-item img{
        width: 100%;
        height: auto;
        padding-bottom: 20px;
    }
    .icon-destination-tour, .icon-contacts {
        width: 4rem;
        height: 4rem;
        margin-top: -30px;
    }
    #destinations-hotel .thumbnail {
        height: 330px;
    }
    
}

