.news-details {
  position: relative;
  z-index: 999;
  background-color: #fff;
}
.news-details .news-text{
  text-align: left;
}
.news-details .card-text{
  padding-top: 5px;
}

.news-details .related-news-item:hover{
  transform: translateY(-3px) scale(1.01);
  cursor: pointer;
}


.news-details hr{
  max-width: 100px;
  margin: 5px auto 5px;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}